@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: hsl(268, 88%, 26%);
  color: hsl(0, 0%, 100%);
  font-family: "Barlow", sans-serif;
}

body {
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 1100px;
  max-width: 85%;
  margin: 0 auto;
  padding: 5rem 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head,
.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* |1| Head ||*/
/* |1.1| Logo || */
.logo {
  justify-self: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.logo-title {
  padding-left: 0.5rem;
  text-transform: uppercase;
}
.logo-img {
  flex: 0 0;
  width: 75px;
}

/* |1.2| Clock || */
.head {
  isolation: isolate;
}
.clock {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: 0.4rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.7rem;
  padding: 1rem;
}
.clock::before,
.clock::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  border-radius: inherit;
  background-color: hsl(0, 0%, 100%, 0.4);
  z-index: -1;
}
.clock::after {
  width: 80%;
  top: 10%;
  background-color: hsl(0, 0%, 100%, 0.3);
}
/* || Clock Blocks || */
.clock-block {
  display: grid;
  place-items: center;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  color: hsl(268, 88%, 26%);
}
/* Colon Between Hour:Minute:Second */
.clock-block:nth-child(2),
.clock-block:nth-child(3) {
  position: relative;
}
.clock-block:nth-child(2)::after,
.clock-block:nth-child(3)::after {
  content: ":";
  display: inline;
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

/* || Clock Time & Text || */
.clock-title,
.clock-meridiem {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.clock-time {
  background-color: hsl(290, 100%, 50%, 0.17);
  font-size: 0.8rem;
}

.clock-hours,
.clock-minutes,
.clock-seconds,
.block-text {
  display: block;
  text-align: center;
  text-transform: capitalize;
}

.clock-hours,
.clock-minutes,
.clock-seconds {
  font-size: 2rem;
}

.clock-meridiem {
  background-image: linear-gradient(130deg, hsl(270, 100%, 60%) 0%, hsl(290, 100%, 50%));
  color: hsl(0, 0%, 100%);
}
.clock-meridiem .clock-ampm {
  font-weight: 900;
}

/* || 2. Body || */
.body {
  margin-top: 3rem;
}

.timer-select {
  background-color: hsl(0, 0%, 100%);
  color: hsl(268, 88%, 26%);
  border-radius: 1rem;
}
.timer-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem 1rem;
  position: relative;
}
.timer-section:nth-child(1)::after,
.timer-section:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 70%;
  left: 2.5ch;
  height: 55%;
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
}

.timer-title {
  margin-left: -2.5%;
  display: flex;
  align-items: center;
}

.timer-icon {
  width: 30px;
}
.timer-text {
  font-size: 1.1rem;
  padding: 0 0.3rem;
  text-transform: capitalize;
}

.timer-section select {
  background-color: hsl(0, 0%, 100%);
  outline: 1px solid hsl(0, 0%, 80%);
  color: hsl(268, 88%, 26%);
  border: none;
}

.timer-notification {
  width: 100%;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  background-color: hsl(0, 0%, 100%, 0.3);
  border-radius: 0.3rem;
  margin: 1rem 0;
  padding: 0.5rem 0.7rem;
}

.timer-btn {
  display: inline-block;
  padding: 1rem 5rem;
  outline: none;
  border: transparent;
  border-radius: 0.3rem;
  background-image: linear-gradient(to right, hsl(270, 100%, 60%), hsl(290, 100%, 50%));
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}
.timer-btn:hover {
  background-image: linear-gradient(to left, hsl(270, 100%, 60%), hsl(290, 100%, 50%));
}

.time-image {
  display: grid;
  padding: 2rem 0.5rem 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
}

.image-text {
  display: block;
  align-self: flex-start;
  font-size: 2rem;
  text-transform: uppercase;
  padding-left: 1rem;
  color: hsl(268, 88%, 26%);
  font-weight: 900;
}

.time-image img {
  align-self: flex-end;
  justify-self: center;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .container {
    position: static;
    transform: none;
  }
  .head,
  .body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .head {
    grid-template-rows: 1fr;
  }
  .logo {
    display: none;
  }
  .clock {
    position: relative;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 0.5rem;
    place-items: center;
  }
  .clock::before,
  .clock::after {
    display: none;
  }
  .clock-block {
    padding: 0;
    width: 40%;
  }
  .clock-block:nth-child(2)::after,
  .clock-block:nth-child(3)::after {
    display: none;
  }
}
